if SHIELD_LETSSWAP_LEFT

config ZMK_KEYBOARD_NAME
    default "Let's Swap"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_LETSSWAP_LEFT || SHIELD_LETSSWAP_RIGHT

config ZMK_SPLIT
    default y

endif